{% extends "cmis/layout.html" %}

{% block title %}
    Cemetery
{% endblock%}

{% block head %}
<script src="https://cdn.maptiler.com/maplibre-gl-js/v2.2.0-pre.2/maplibre-gl.js"></script>
<link href="https://cdn.maptiler.com/maplibre-gl-js/v2.2.0-pre.2/maplibre-gl.css" rel="stylesheet"/>

<style>
    .filter-ctrl {
        position: fixed;
        z-index: 1;
    }
    
    .filter-ctrl input[type='text'] {
        font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        width: 100%;
        border: 0;
        background-color: #fff;
        margin: 0;
        color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
        border-radius: 3px;
        width: 180px;
    }
</style>

{% endblock %}

{% block masthead %}


<div class="justify-content-center d-flex" >
<div id='map' style='width: 1600px; height: 750px; color: black;'></div>
<div class="filter-ctrl">
    <input id="filter-input" type="text" name="filter" placeholder="Filter by name"/>
</div>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const key = urlParams.get('key') || 'pYak4IN292AL67yzijvU';

        if (!maplibregl.supported()) {
            alert('Your browser does not support MapLibre GL');
        } else {
            const map = new maplibregl.Map({
                container: 'map', // container id
                style: `https://api.maptiler.com/maps/streets/style.json?key=${key}`, // style URL
                center: [122.91021123885099, 10.595742481798105], // starting position [lng, lat]
                zoom: 18, // starting zoom
            });

            map.on('error', function(err) {
                throw new Error("To load the map, you must replace YOUR_MAPTILER_API_KEY_HERE first");
            });
        
            map.setMaxZoom(24); //max zoom
            map.setMinZoom(16);  //min zoom
            
            map.addControl(new maplibregl.NavigationControl(), 'top-left'); //navigation controls
            map.addControl(new maplibregl.FullscreenControl(), 'top-left'); //fullscreen controls   

            map.addControl(new maplibregl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            }), 'top-left'); //geolocation controls

            map.addControl(new maplibregl.ScaleControl({
                maxWidth: 80,
                unit: 'metric'
            }), 'bottom-left'); //scale controls

            var zoomlevel = 'low'

            var polygon = {
                'id': 'polygons',
                'type': 'fill',
                'source': 'mapsource', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': [
                        'match',
                        ['get', 'status'],
                        'Occupied', '#ff0000',
                        'Vacant', '#00ff00',
                        'Reserved', '#0000ff',
                        'Unavailable', '#000000',
                        '#ffffff'
                    ],
                    'fill-opacity': [
                        'case',
                        ['boolean', ['feature-state', 'hover'], false],
                        1,
                        0.5
                    ]
                }
            }

            var outline = {
                'id': 'outline',
                'type': 'line',
                'source': 'mapsource',
                'layout': {},
                'paint': {
                    'line-color': '#F3A040', // orange outline
                    'line-width': 3
                }
            }

            var sections = {
                'type': 'geojson',
                'data': {{ section|safe }}
                }

            var graves = {
                    'type': 'geojson',
                    'data': {{ lot|safe }}
                }

            map.on('load', function () {
                // sources
                // GeoJSON polygon with 3 features
                map.addSource('mapsource', sections);

                // map layers
                map.addLayer(polygon); // polygons
                map.addLayer(outline);  // outline of polygons

                //fly to section
                map.on('click', 'polygons', function (e) {
                    var coordinates = e.features[0].geometry.coordinates[0];
                    var bounds = coordinates.reduce(function(bounds, coord) {
                        return bounds.extend(coord);
                    }, new maplibregl.LngLatBounds(coordinates[0], coordinates[0]));
                    map.fitBounds(bounds, {
                        padding: 20
                    });

                    if(map.getZoom() > 23)
                    {
                        window.location.href = "deceased?q=" + e.features[0].properties.id_lot;
                    }
                });

                //change map on zoom
                map.on('zoom', function () {

                    if (map.getZoom() >= 19.5 && zoomlevel == 'low') {
                        map.removeLayer('outline');
                        map.removeLayer('polygons');
                        map.removeSource('mapsource');

                        map.addSource('mapsource', graves);
                        map.addLayer(polygon); // polygons
                        map.addLayer(outline);

                        zoomlevel = "high"

                    }else if (map.getZoom() < 19.5 && zoomlevel == 'high'){

                        map.removeLayer('outline');
                        map.removeLayer('polygons');
                        map.removeSource('mapsource');

                        map.addSource('mapsource', sections);
                        map.addLayer(polygon); // polygons
                        map.addLayer(outline);

                        zoomlevel = "low"
                    }
                });

                var popup = new maplibregl.Popup({
                    closeButton: false,
                    closeOnClick: false
                });              
                
                //show popup when polygon is hovered
                map.on('mouseenter', 'polygons', function (e) {
                    map.getCanvas().style.cursor = 'pointer';
                    var coordinates = e.features[0].geometry.coordinates[0];
                    var bounds = coordinates.reduce(function(bounds, coord) {
                        return bounds.extend(coord);
                    }, new maplibregl.LngLatBounds(coordinates[0], coordinates[0]));

                    var name = e.features[0].properties.name;
                    popup.setLngLat(bounds.getCenter())
                    .setHTML("<h6>"+name+"</h6>")
                    .addTo(map);
                });

                map.on('mouseleave', 'polygons', function () {
                    map.getCanvas().style.cursor = '';
                    popup.remove();
                });

                //change polygon color by status
                map.setPaintProperty('polygons', 'fill-color', [
                    'case',
                    ['==', ['get', 'status'], 'Available'],
                    '#FFAA01',
                    ['==', ['get', 'status'], 'Reserved'],
                    '#FF0000',
                    ['==', ['get', 'status'], 'Occupied'],
                    '#00FF00',
                    '#FFAA01'
                ]);

            });

            // Define bounds that conform to the `LngLatBoundsLike` object.
            var bounds = [
                [122.90782362654943, 10.594244730858899], // [west, south]
                [122.912640077032, 10.597304816176521]  // [east, north]
            ];
            // Set the map's max bounds.
            map.setMaxBounds(bounds);
        }
    </script>
</div>

{% endblock %}

