{% extends "cmis/layout.html" %}

{% block title %}
    Information
{% endblock %}

{% block masthead %}  
<div class="d-flex justify-content-center">
    {{ deceased.id }}
    {{ deceased.first_name }}
    {{ deceased.middle_name }}
    {{ deceased.last_name }}
    {{ deceased.description }}
    {{ deceased.image }}
    {{ deceased.lot.sections }}
    <a href=https://maps.google.com/maps?q={{ deceased.lot.latitude }},{{ deceased.lot.longitude }}>
        <button>GPS</button>
    </a>
</div>
{% endblock %}
