{% extends "cmis/layout.html" %}

{% block title %}
    Information |
{% endblock %}

{% block masthead %}
<header class="masthead">
    {% if grave %}
        {% for grave in grave %}
        <div class="container d-flex align-items-center justify-content-center" style="padding-top: 100px">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <p class="fw-bold fs-1 text-white mb-3">{{ grave.deceased.first_name }}&nbsp;{{ grave.deceased.middle_name }}&nbsp;{{ grave.deceased.last_name }}</p>
                            <p class="fs-4">Birth:&nbsp;{{ grave.deceased.birth_date }}</p>
                            <p class="fs-4">Death:&nbsp;{{ grave.deceased.death_date }}</p>
                            <p class="fs-4">Lot:&nbsp;{{ grave.lot.section.name }}{{ grave.lot.id }}</p>
                            <p class="fs-4">{{ grave.deceased.description }}</p>
                            <p class="mb-4"></p>
                            <div class="my-3">
                                <a class="btn btn-primary btn-lg me-2 fw-bold" role="button" onclick="window.history.back();">Go Back&nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-return-left">
                                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </a>
                                <a class="btn btn-light btn-lg fw-bold" role="button" href=https://maps.google.com/maps?q={{coords}}>Go to Location&nbsp;
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-return-right">
                                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        {% if grave.deceased.image %}
                            <img class="w-100 h-100 fit-cover" src="{{ grave.deceased.image.url }}">
                        {% else %}
                            <div class="w-100 h-100 fit-cover">NO IMAGE AVAILABLE</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% else %}
        {% for lot in lot %}
        <div class="container d-flex align-items-center justify-content-center" style="padding-top: 100px">
            <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="text-white p-4 p-md-5">
                            <p class="fw-bold fs-1 text-white mb-3">Status:&nbsp;{{ lot.status.name }}</p>
                            <p class="fs-4">Cemetery:&nbsp;{{ lot.section.cemetery.name }}</p>
                            <p class="fs-4">Category:&nbsp;{{ lot.category.name }}</p>
                            <p class="fs-4">Lot:&nbsp;{{ lot.section.name }}{{ lot.id }}</p>
                            <p class="fs-4">Price: &nbsp;₱{{lot.category.price }}</p>
                            <p class="mb-4"></p>
                            <div class="my-3">
                                <a class="btn btn-primary btn-lg me-2 fw-bold" role="button" onclick="window.history.back();">Go Back
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-return-left">
                                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </a>
                                <a class="btn btn-light btn-lg fw-bold" role="button" href=https://maps.google.com/maps?q={{coords}}>Go to Location
                                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-return-right">
                                        <path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 order-first order-md-last" style="min-height: 250px;">
                        {% if grave.deceased.image %}
                            <img class="w-100 h-100 fit-cover" src="{{ grave.deceased.image.url }}">
                        {% else %}
                            <div class="w-100 h-100 fit-cover">NO IMAGE AVAILABLE</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
<footer class="footer small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Sepulcrum 2022</div>
</footer>
</header>
{% endblock %}
