{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Sepulcrum - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="static/cmis/assets/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta&amp;display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Antic&amp;display=swap">
        <link rel="stylesheet" href="static/cmis/assets/fonts/fontawesome-all.min.css">
        <link rel="stylesheet" href="static/cmis/assets/css/Footer-Dark-icons.css">
        <link rel="stylesheet" href="static/cmis/assets/css/gradient-navbar-styles.css">
        <link rel="stylesheet" href="static/cmis/assets/css/gradient-navbar.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
        <link rel="stylesheet" href="static/cmis/assets/css/styles.css">
        {% block head %}
        {% endblock %}
    </head>
    <body id="page-top" class="text-bg-dark">
        <!-- Navigation-->
        <nav class="navbar navbar-dark navbar-expand-md bg-dark bg-gradient">
            <div class="container-fluid"><a class="navbar-brand" href="{% url 'menu' %}"><strong>Sepulcrum</strong></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'search_deceased' %}" style="color: rgb(255,255,255);">Search&nbsp;<i class="fas fa-search"></i></a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin/" style="color: gb(255,255,255);">Admin&nbsp;<i class="fas fa-user"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block masthead %}
        {% endblock %}
        
        <footer class="text-center bg-dark" style="padding-top: 20px;">
            <div class="text-white py-4 py-lg-5" style="background: #474c51;">  
                <p class="text-muted mb-0">Copyright © 2022 Sepulcrum</p>
            </div>
        </footer>
        <script src="static/cmis/assets/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
        <script src="static/cmis/assets/js/Lightbox-Gallery.js"></script>
    </body>
</html>