{% extends "cmis/layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block masthead %}
<div style="padding-left: 0px;">
    <div class="col-lg-8 mx-auto" style="padding: 150px;padding-right: 0px;padding-top: 70px;padding-bottom: 255px;margin: 0px;padding-left: 0px;">
        <h1 class="brand-heading" style="text-align: center;font-size: 40px;font-family: Allerta, sans-serif;">SEPULCRUM</h1>
        <p class="intro-text" style="text-align: center;font-family: Allerta, sans-serif;">A free, private cemetery mapping information system with GPS</p>
        <div class="container">
            <div class="row text-center">
                <div class="col" style="padding: 0px;margin-top: 30px;"><button class="btn btn-primary border rounded-pill" type="button" style="background: #414447;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-64 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 40px;margin-right: -5px;margin-left: -5px;">
                            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                            <path d="M169.4 278.6C175.6 284.9 183.8 288 192 288s16.38-3.125 22.62-9.375l160-160c12.5-12.5 12.5-32.75 0-45.25s-32.75-12.5-45.25 0L192 210.8L54.63 73.38c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25L169.4 278.6zM329.4 265.4L192 402.8L54.63 265.4c-12.5-12.5-32.75-12.5-45.25 0s-12.5 32.75 0 45.25l160 160C175.6 476.9 183.8 480 192 480s16.38-3.125 22.62-9.375l160-160c12.5-12.5 12.5-32.75 0-45.25S341.9 252.9 329.4 265.4z"></path>
                        </svg></button></div>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="text-center" style="margin-top: 150px;padding: 20px;font-size: 30px;font-weight: bold;font-family: Allerta, sans-serif;background: #3d4144;">Bacolod Private Cemeteries</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" style="background: rgba(255,255,255,0);padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Sacred Heart Memorial" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="img-fluid card-img-top w-100 d-block" src="/static/cmis/assets/img/311059501_2982794782022259_6903223362866852524_n.png" style="background: rgba(33,37,41,0);padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Sacred Heart Memorial</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Greenhills Memorial Park" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="card-img-top w-100 d-block" src="/static/cmis/assets/img/310394939_1059003738147748_8088956084187392837_n.png" style="padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Greenhills Memorial Park</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Bacolod Memorial Park" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="card-img-top w-100 d-block" src="/static/cmis/assets/img/311066883_649695316653206_6935535195420729453_n.png" style="padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Bacolod Memorial Park</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Rolling Hills Memorial Park" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="card-img-top w-100 d-block" src="/static/cmis/assets/img/311144818_495149245607760_9041128693869899228_n.png" style="padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Rolling Hills</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="background: rgba(255,255,255,0);padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Santurio de Bacolod" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="img-fluid card-img-top w-100 d-block" src="/static/cmis/assets/img/310099815_823162245390705_118896609019878693_n.png" style="background: rgba(33,37,41,0);padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Santurio de Bacolod</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Valley of Peace" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="card-img-top w-100 d-block" src="/static/cmis/assets/img/311104226_801397511101704_2973786765871146510_n.png" style="padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Valley of Peace</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Palm Haven Memorial Park" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="card-img-top w-100 d-block" src="/static/cmis/assets/img/311235328_456350516470462_6013117805918616931_n.png" style="padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Palm Haven Memorial Park</h4>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3" style="padding: 18px;margin-top: 0px;">
                <a href="cemetery?q=Rose Lawn Memorial Park" style="color: inherit; text-decoration: none;">
                    <div class="card" style="background: rgba(255,255,255,0);"><img class="card-img-top w-100 d-block" src="/static/cmis/assets/img/311414692_630735771889930_2750205498361109961_n.png" style="padding: 40px;">
                        <div class="card-body">
                            <h4 class="card-title" style="text-align: center;font-size: 20px;margin-top: -80px;margin-right: 25px;margin-left: 25px;font-weight: bold;font-family: Allerta, sans-serif;">Rose Lawn Memorial Park</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
