{% extends "cmis/layout.html" %}

{% load static %}

{% block masthead %} 
<!-- Masthead-->
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center">
                <h1 class="mx-auto my-0 text-uppercase animate__animated animate__fadeInLeft">Sepulcrum</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5 animate__animated animate__fadeInRight">Bacolod Private Cemetery Mapping Information System</h2>
                <a class="btn btn-primary animate__animated animate__fadeIn animate__delay-1s" id="scrolldown">Get Started</a>
            </div>
        </div>
    </div>
</header>

<!--Cemeteries-->
<section class="contact-section bg-black">
    <div class="bg-dark text-white container text-lg-center rounded p-3">
        <div class="row" id="cemeterySelect">
            <h1 class="text-center mt-3 text-white">Bacolod Private Cemeteries</h1>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Sacred Heart">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/311059501_2982794782022259_6903223362866852524_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Sacred Heart</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Greenhills">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static '/cmis/assets/img/310394939_1059003738147748_8088956084187392837_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Greenhills</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Bacolod Memorial">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/311066883_649695316653206_6935535195420729453_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Bacolod Memorial</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Rolling Hills">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/311144818_495149245607760_9041128693869899228_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Rolling Hills</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Santuario de Bacolod">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/310099815_823162245390705_118896609019878693_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Santurio de Bacolod</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Valley of Peace">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/311104226_801397511101704_2973786765871146510_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Valley of Peace</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Palm Haven">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/311235328_456350516470462_6013117805918616931_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Palm Haven</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-3 p-3">
                <a href="cemetery?q=Rose Lawns">
                    <div class="card bg-dark">
                        <img class="card-img-top p-2 d-block user-select-none" src="{% static 'cmis/assets/img/311414692_630735771889930_2750205498361109961_n.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Rose Lawn</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="contact-section bg-black">
    <div class="container px-4 px-lg-5">
        <div class="social d-flex justify-content-center">
            <a class="mx-2" href="#!"><i class="fab fa-twitter"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            <a class="mx-2" href="#!"><i class="fab fa-github"></i></a>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Sepulcrum 2022</div>
</footer>
{% endblock %}




        