{% extends "cmis/layout.html" %}

{% block title %}
    Reports |
{% endblock %}

{% block masthead %}
<header class="masthead">
    <div class="container align-items-center justify-content-center" style="padding-top: 100px">
        <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
            <div class="text-white p-4 p-md-5">
                <h2 class="fw-bold fs-1 mb-3 col-md-8">Cemetery Reports</h2>
                <form class="col-md-2" method="POST"> {% csrf_token %}
                    <select id="inputCemetery" class="form-select" name="cemetery" onchange="this.form.submit()">
                        {% if selectedCemetery == NULL %}
                        <option selected hidden>Select Cemetery</option>
                        {% else %}
                        <option selected hidden>{{ selectedCemetery}}</option>
                        {% endif %}

                            {% for cemetery in cemetery %}
                            <option value="{{ cemetery.name }}">{{ cemetery.name }}</option>
                            {% endfor %}
                    </select>
                </form>
                <ul class="p-3">
                    <p class="fs-4">Graves - {{ total_deceased }}</p>
                    <p class="fs-4">Sections - {{ sections }}</p>
                    <p class="fs-4">Lots - {{ total_lots }}</p>
                    <ul>
                        <li>Unavailable - {{ unavailable_lots }}</li>
                        <li>Reserved - {{ reserved_lots }}</li>
                        <li>Occupied - {{ occupied_lots }}</li>
                        <li>Vacant - {{ vacant_lots }}</li>
                    </ul>
                    <p class="fs-4">Lot category:</p>
                    <ul>
                        <li>Columbarium - {{ columbarium }}</li>
                        <li>Mausoleum - {{ mausoleum }}</li>
                        <li>Lawn lot - {{ lawn }}</li>
                    </ul>
                </ul>
                <a class="btn btn-primary btn-lg me-2 fw-bold" role="button" onclick="window.history.back();">Go Back&nbsp;
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-arrow-return-left">
                        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</header>

<footer class="footer small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Sepulcrum 2022</div>
</footer>

<script>
    document.getElementById("go-back").addEventListener("click", function() {
        window.history.back();
    });
</script>
{% endblock %}
