{% extends "cmis/layout.html" %}

{% block title %}
    Reports |
{% endblock %}

{% block masthead %}  
<header class="masthead">
    <div class="container align-items-center justify-content-center" style="padding-top: 100px">
        <div class="bg-dark border rounded border-0 border-dark overflow-hidden">
            <div class="text-white p-4 p-md-5">
                <h2 class="fw-bold fs-1 text-white mb-3 d-inline">Cemetery Reports</h2>&nbsp;<p class="d-inline">(sacred heart cemetery)</p>
                <ul>
                    <p class="fs-4">Total graves - {{ total_deceased }}</p>
                    <p class="fs-4">Total sections - {{ sections }}</p>
                    <p class="fs-4">Total lots - {{ total_lots }}</p>
                    <ul>
                        <li>Unavailable - {{ unavailable_lots }}</li>
                        <li>Reserved - {{ reserved_lots }}</li>
                        <li>Occupied - {{ occupied_lots }}</li>
                        <li>Vacant - {{ vacant_lots }}</li>
                    </ul>
                    <p class="fs-4">Lot category:</p>
                    <ul>
                        <li>Columbarium - {{ columbarium }}</li>
                        <li>Mausoleum - {{ mausoleum }}</li>
                        <li>Lawn lot - {{ lawn }}</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>
</header>

<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Sepulcrum 2022</div>
</footer>

<script>
    document.getElementById("go-back").addEventListener("click", function() {
        window.history.back();
    });
</script>
{% endblock %}
