{% extends "cmis/layout.html" %}

{% load static %}

{% block title %}
    Search Lot |
{% endblock %}

{% block masthead %}
<div class="masthead">
    <!--Graves-->
    <div class="container text-white d-flex align-items-center justify-content-center" style="padding-top: 125px">
        <form method="POST" class="bg-dark rounded row g-4 p-3 pb-5" id="graves">{% csrf_token %}
            <h3 class="font-weight-bold col-md-9">Search Lot Information</h3><a class="btn btn-secondary col-md-3" href="{% url 'search' %}">Search for Graves</a>
            <div class="col-6">
                <label for="inputCemetery" class="form-label">Cemetery</label>
                <select id="inputCemetery" class="form-select" name="cemetery" onchange="this.form.submit()">
                    {% if selectedCemetery == NULL %}
                        <option hidden></option>
                    {% else %}
                        <option selected hidden>{{ selectedCemetery }}</option>
                    {% endif %}
                        {% for cemetery in cemetery %}
                            <option value="{{ cemetery.name }}">{{ cemetery.name }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="col-6">
                <label for="inputSection" class="form-label">Section</label>
                <select id="inputSection" class="form-select" name="section" onchange="this.form.submit()">
                    {% if selectedSection == NULL %}
                        <option hidden></option>
                    {% else %}
                        <option selected hidden>{{ selectedSection }}</option>
                        {% for section in section %}
                            <option value="{{ section.name }}">{{ section.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputCategory" class="form-label">Category</label>
                <select id="inputCategory" class="form-select" name="category" onchange="this.form.submit()">
                    {% if selectedCategory == NULL %}
                        <option hidden></option>
                    {% else %}
                        <option selected hidden>{{ selectedCategory }}</option>
                        {% for category in category %}
                            <option value="{{ category.name }}">{{ category.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
            <div class="col-md-6">
                <label for="inputStatus" class="form-label">Status</label>
                <select id="inputStatus" class="form-select" name="status" onchange="this.form.submit()">
                    {% if selectedStatus == NULL %}
                        <option hidden></option>
                    {% else %}
                        <option selected hidden>{{ selectedStatus }}</option>
                        {% for status in status %}
                            <option value="{{ status.name }}">{{ status.name }}</option>
                        {% endfor %}
                    {% endif %}
                </select>
            </div>
        </form>
    </div>
    <div class="container text-white d-flex align-items-center justify-content-center" style="padding-top: 50px">
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Section</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="mobile">Max Layers</th>
                    <th scope="col" class="mobile">Cemetery</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for lot in lot %}
                <form method="POST" id="form[{{ lot.id }}]" action="{% url 'information' %}"> {% csrf_token %}
                    <tr onclick="form[{{ lot.id }}].submit();" style="cursor: pointer;">
                        <input type="hidden" name="pk" value="{{ lot.id }}"/>
                        <th scope="row">{{ lot.id }}</th>
                        <td>{{ lot.category.name }}</td>
                        <td>{{ lot.section.name }}</td>
                        <td>{{ lot.status.name }}</td>
                        <td class="mobile">{{ lot.category.max_layers }}</td>
                        <td class="mobile">{{ lot.section.cemetery.name }}</td>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="container text-white d-flex align-items-center justify-content-center">
        {% if lot.has_other_pages %}
        <nav aria-label="Pagination">
            <ul class="pagination">
                {% if lot.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ lot.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Previous</span></li>
                {% endif %}

                {% for i in lot.paginator.page_range %}
                    {% if lot.number == i %}
                        <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% elif i > lot.number|add:'-5' and i < lot.number|add:'5' %}
                        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if lot.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ lot.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><span class="page-link">Next</span></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>

<!-- Footer-->
<footer class="footer small text-center text-white-50">
    <div class="container px-4 px-lg-5">Copyright &copy; Sepulcrum 2022</div>
</footer>

<script>
    const form = [];
    {% for lot in lot %}
        form[{{ lot.id }}] = document.getElementById("form["+{{ lot.id }}+"]");
    {% endfor %}
</script>

{% endblock %}
