{% extends "cmis/layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block masthead %}

<div class="d-flex justify-content-center" style="background-color:white">
    <table class="table table-sm table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope"col">#
            </th>
            <th scope"col">First
            </th>
            <th scope"col">Middle
            </th>
            <th scope"col">Last
            </th>
            <th scope"col">Birth
            </th>
            <th scope"col">Death
            </th>
            <th scope"col">Section
            </th>
            <th scope"col">Cemetery
            </th>
          </tr>
        </thead>
        <tbody>
        {% for deceased in deceased %}
          <tr scope="row">
            <td>{{ deceased.id }}</td>
            <td>{{ deceased.first_name }}</td>
            <td>{{ deceased.middle_name }}</td>
            <td>{{ deceased.last_name }}</td>
            <td>{{ deceased.birth_date }}</td>
            <td>{{ deceased.death_date }}</td>
            <td>{{ deceased.lot.status }}</td>
            <td>{{ deceased.lot.cemetery }}</td>
          </tr>

        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
