{% extends "cmis/layout.html" %}

{% block title %}
    Search - Deceased
{% endblock %}

{% block masthead %}
<div class="container text-black">
  <div class="card">
      <div class="card-body" style="font-weight: bold;">
        <form method="POST">{% csrf_token %}
            <h4 class="card-title">Search Deceased Information</h4>

            <div class="row">
                <div class="col-md-2">
                    <p>First Name:</p>
                </div>
                <div class="col-md-2"><input name="first" type="text" style="margin-left: -18px;"></div>
                
                <div class="col-md-2">
                    <p>Middle Name:</p>
                </div>
                <div class="col-md-2"><input name="middle" type="text" style="margin-left: -18px;"></div>
                
                <div class="col-md-2">
                    <p>Last Name:</p>
                </div>
                <div class="col-md-2"><input name="last" type="text" style="margin-left: -18px;"></div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p>Year Born:&nbsp;</p>
                </div>
                <div class="col-md-2"><input name="birth" type="text" style="margin-left: -18px;"></div>
               
                <div class="col-md-2">
                    <p>Year Died:</p>
                </div>
                <div class="col-md-2"><input name="death" type="text" style="margin-left: -18px;"></div>
                
                <div class="col-md-2">
                    <p>Section:</p>
                </div>
                <div class="col-md-2">
                    <select class="form-select form-select-sm" style="margin-left: -18px;" name="section">
                        <option selected></option>
                        {% for section in section %}
                            <option value="{{ section.name }}">{{ section.name }}</option>
                        {% endfor %}
                      </select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <p>Cemetery:</p>
                </div>
                <div class="col-md-2">
                    <select class="form-select form-select-sm" style="margin-left: -18px;" name="cemetery">
                        <option selected></option>
                        {% for cemetery in cemetery %}
                            <option value="{{ cemetery.name }}">{{ cemetery.name }}</option>
                        {% endfor %}
                      </select>
                </div>
                
                <div class="col"><button class="btn btn-primary" type="submit" style="background: rgb(71,76,81);">Search&nbsp;<i class="fas fa-search"></i></button></div>
            
            </div>
        </form>
      </div>
  </div>
</div>
<div class="container">
    <table class="table table-hover" style="background-color: white;">
        <thead>
        <tr class="table-secondary">
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Middle Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Death Date</th>
            <th scope="col">Section</th>
            <th scope="col">Cemetery</th>
        </tr>
        </thead>
        <tbody> 
            {% for grave in grave %}
            <form method="POST" id="form-id" action="{% url 'deceased' %}"> {% csrf_token %}
                <tr id="table" style="cursor: pointer;">
                    <input type="hidden" name="pk" value="{{ grave.id }}"/>
                    <th scope="row">{{ grave.id }}</th>
                    <td>{{ grave.deceased.first_name }}</td>
                    <td>{{ grave.deceased.middle_name }}</td>
                    <td>{{ grave.deceased.last_name }}</td>
                    <td>{{ grave.deceased.birth_date }}</td>
                    <td>{{ grave.deceased.death_date }}</td>
                    <td>{{ grave.lot.section.name }}</td>
                    <td>{{ grave.lot.section.cemetery.name }}</td>
                </tr>
            </form>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
        
    var form = document.getElementById("form-id");

    document.getElementById("table").addEventListener("click", function () {
    form.submit();
    });
    
</script>
{% endblock %}
