{% extends "cmis/layout.html" %}

{% block title %}
    Menu
{% endblock%}

{% block head %}
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
{% endblock %}

{% block masthead %}
<header class="masthead">
    <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div id='map'>
            <iframe width='1400px' height='750px' 
                src="https://api.mapbox.com/styles/v1/spyke1215/cl57t6mwz00bh15qvn2uy8zb1.html?title=false&access_token=pk.eyJ1Ijoic3B5a2UxMjE1IiwiYSI6ImNsNTdlZnZqNTE2NjYzZGw4dWUxMDY5d3cifQ.0eI6WtJPpjYudfeqAxyV0Q&zoomwheel=false#18.16/10.595697/122.91022" 
                title="Basic-copy" style="border:none;"></iframe>
            </div>
        </div>
    </div>
</header>
{% endblock %}