        <!-- Contact-->
        {% block contact %}
        <section class="contact-section bg-black">
            <div class="container px-4 px-lg-5">
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://discord.gg/A6tARJBcjM"><i class="fab fa-discord"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/edrianl.cortez"><i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://github.com/spyke1215/capstone_project"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        {% endblock %}
        <!-- Footer-->
        {% block footer%}
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; METAFOUR 2022</div></footer>
        {% endblock %}